.navbar {
	margin-bottom: 0;
	font-color: white;
}
body {
	background: #864747;
	color: white;
	font-family: 'Montserrat', sans-serif;
}
h1,
h2 {
	font-weight: bold;
}
p {
	font-size: 16px;
	color: white;
}
.jumbotron {
	background: white;
	color: #864747;
	text-align: center;
}
.jumbotron p {
	color: #864747;
	font-size: 26px;
}
.btn-primary {
	color: #white;
	background-color: #864747;
	border-color: white;
	margin-bottom: 5px;
}
.btn-primary:hover {
	color: black;
	background-color: white;
	border-color: white;
}
.navbar-inverse {
	background: #864747;
	border: 0;
}
.navbar-inverse .navbar-nav li a {
	color: white;
	font-size: 16px;
}
.navbar-inverse .navbar-nav li a:hover {
	background: white;
}
.dropdown-menu {
	background: #864747;
	border-radius: 0;
	border: 0;
}
.dropdown-menu li a {
	padding: 10px;
}
.navbar-inverse .navbar-nav .dropdown-menu li a:hover {
	background: white;
}
.call-to-action {
	text-align: center;
}
.call-to-action p {
	margin-bottom: 30px;
	font-family: sans-serif;
}
.glyphicon-large {
	font-size: 50px;
}
