<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>
<body>
	<div th:replace="template :: image"></div>
	<div th:replace="template :: navigation"></div>
	<h2>photo</h2><button type="upload image">Upload Image</button>
	<h3>name</h3>
	<h3>address</h3>
	<h3>phone number</h3>
	<h3>email</h3>
	<h4>regular availability</h4><button>Update availability</button>
	<h4>approved Requests Off</h4>
	<button>Change password</button>
</body>
</html>