<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>
<body>
	<div th:replace="template :: image"></div>
	<div th:replace="template :: navigation"></div>

	<h1>Welcome to your personal portal, your name.</h1>
	<h1>Your Avatar goes here</h1>
	<h1>You are a, job name, at the St Louis Symphony</h1>
	<h2>This area contains the shifts that you work next</h2>
	<table></table>
	<h2>This area contains notifications from other staff</h2>
	<table></table>

</body>
</html>