<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>
<body>
	<div th:replace="template:: image"></div>
	<div th:replace="template :: navigation"></div>
	<h2>Set regular availability</h2>
	<form>
		<div id="avail">
		Mondays<input type="checkbox" name="mondayam"><label for = "mondayam"> Mornings</label></input> <input type="checkbox" name="mondayaft"></input><label for="mondayaft"> Afternoons</label>
		<input type="checkbox" name="mondaypm"></input><label for="mondaypm"> Evenings</label>
		Tuesdays
		<input type="checkbox" name="tuesdayam"></input><label for = "tuesdayam"> Mornings</label> <input type="checkbox" name="tuesdayaft"></input><label for="tuesdayaft"> Afternoons</label>
		<input type="checkbox" name="tuesdaypm"></input><label for="tuesdaypm"> Evenings</label>
		Wednesdays
		<input type="checkbox" name="wednesdayam"></input><label for = "wednesdayam"> Mornings</label> <input type="checkbox" name="wednesdayaft"></input><label for="wednesdayaft"> Afternoons</label>
		<input type="checkbox" name="wednesdaypm"></input><label for="wednesdaypm"> Evenings</label>
		Thursdays
		<input type="checkbox" name="thursdayam"></input><label for = "thursdayam"> Mornings</label> <input type="checkbox" name="thursdayaft"></input><label for="thursdayaft"> Afternoons</label>
		<input type="checkbox" name="thursdaypm"></input><label for="thursdaypm"> Evenings</label>
		Fridays
		<input type="checkbox" name="fridayam"></input><label for = "fridayam"> Mornings</label> <input type="checkbox" name="fridayaft"></input><label for="fridayaft"> Afternoons</label>
		<input type="checkbox" name="fridaypm"></input><label for="fridaypm"> Evenings</label>
		Saturdays
		<input type="checkbox" name="saturdayam"></input><label for = "saturdayam"> Mornings</label> <input type="checkbox" name="saturdayaft"></input><label for="saturdayaft"> Afternoons</label>
		<input type="checkbox" name="saturdaypm"></input><label for="saturdaypm"> Evenings</label>
		Sundays
		<input type="checkbox" name="sundayam"></input><label for = "sundayam"> Mornings</label> <input type="checkbox" name="sundayaft"></input><label for="sundayaft"> Afternoons</label>
		<input type="checkbox" name="sundaypm"></input><label for="sundaypm"> Evenings</label>
		</div>
	</form>

</body>
</html>